body {
  background-image: url("citrus_bg.png");
  /* background-size: 100vw; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 1100px;
  margin: auto;

}


.fa-github-square {
  font-size: 2rem;
}

.logo {
  width: 3rem;
  height: auto;
  display: inline-block;
}

.recipe {
  background-color: rgba(226, 213, 29, 0.267);
}

.description {
  background-color: rgba(216, 156, 25, 0.089);
}
