body {
  background-image: url("citrus_bg.png");
  /* background-size: 100vw; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;

}

.fa-github-square {
  font-size: 2rem;
}

.carousel-indicators li {
  background-color: black;
}

hr {
  border: 1px solid white;
}

.carousel-control-next-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e);
  background-color: rgba(225, 47, 64, 1);
  padding: 1rem;
}

.carousel-control-prev-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e);
  background-color: rgba(225, 47, 64, 1);
  padding: 1rem;
}

.recipe {
  background-color: rgba(255, 145, 106, 1);
}
/* rgba(255, 146, 106, 0.466) */

.description {
  background-color: white;
}

.ingredients {
  background-color: white;
}

h2 {
  color: white;
}

/*can we change this to h3?*/
h5 {
  color: rgba(255, 145, 106, 1);
  /* rgba(255, 145, 106, 1) */
}

